<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!--資料庫連接字符串的配置-->
	<!--
		格式説明：
			name				= "字符串名稱"
			connectionString	= "資料庫連接字符串"
			Initial Catalog		= "資料庫的名稱"
			providerName		= "提供者的名稱"
	-->
	<connectionStrings>
		<add name="MarketplaceConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MarketplaceDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>