<!-- 導航欄 -->
<nav class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center w-100">

            <!-- 網站標識圖片 -->
            <div class="col-auto">
                <a class="navbar-brand text-white" href="#">
                    <img src="~/Content/FrontendTheme/images/logo.svg" width="112" height="45" alt="Logo">
                </a>
            </div>

            <div class="col-auto">
                <!-- 顯示offcanvas -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- 漢堡按鈕 -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">主菜單</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="dropdownHome" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">首頁</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownHome">
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Home Layout 1</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Home Layout 2 </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Home Layout 3 </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Home Layout 4 </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">開始購物</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">瀏 覽 分 類</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">瀏 覽 商 品</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">熱 門 分 類</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">熱 門 商 品</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownBlog" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">關於我們</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownBlog">
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Blog Classic </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Blog Grid with Sidebar </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Blog Grid Four Column </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Blog No Sidebar </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Blog Right Sidebar </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Single Post </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Single Post No Sidebar </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">個人</a>
                                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">About </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Cart </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Checkout </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Coming Soon </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Contact </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Error Page </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">FAQs </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">My Account </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Order Tracking </a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="dropdown-item item-anchor">Wishlist </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">登入</a>
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("管理後台", "BackendIndex", "Backend", null, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 願望單 -->
            <div class="col-3 col-lg-auto">
                <ul class="list-unstyled d-flex m-0">
                    <li class="d-none d-lg-block">
                        <a href="index.html" class="text-uppercase mx-3">
                            Wishlist <span class="wishlist-count">(0)</span>
                        </a>
                    </li>
                    <li class="d-none d-lg-block">
                        <a href="index.html" class="text-uppercase mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                           aria-controls="offcanvasCart">
                            Cart <span class="cart-count">(0)</span>
                        </a>
                    </li>
                    <li class="d-lg-none">
                        <a href="#" class="mx-2">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#heart"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="d-lg-none">
                        <a href="#" class="mx-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                           aria-controls="offcanvasCart">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#cart"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="search-box" class="mx-2">
                        <a href="#search" class="search-button">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</nav>

<!-- 搜索 -->
<div class="search-popup">
    <div class="search-popup-container">

        <form role="search" method="get" class="form-group" action="">
            <input type="search" id="search-form" class="form-control border-0 border-bottom"
                   placeholder="Type and press enter" value="" name="s" />

            <button type="submit" class="search-submit border-0 position-absolute bg-white"
                    style="top: 15px;right: 15px;">
                <svg class="search" width="24" height="24">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </form>

        <h5 class="cat-list-title">Browse Categories</h5>

        <ul class="cat-list">
            <li class="cat-list-item">
                <a href="#" title="Jackets">Jackets</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="T-shirts">T-shirts</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Handbags">Handbags</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Accessories">Accessories</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Cosmetics">Cosmetics</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Dresses">Dresses</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Jumpsuits">Jumpsuits</a>
            </li>
        </ul>

    </div>
</div>

<!-- 購物車 -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
    <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">我的購物車</span>
                <span class="badge bg-primary rounded-pill">3(可改變)</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">商品 1</h6>
                        <small class="text-body-secondary">商品敘述</small>
                    </div>
                    <span class="text-body-secondary">RMB 12 商品價格</span>
                </li>

                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">商品 2</h6>
                        <small class="text-body-secondary">商品敘述</small>
                    </div>
                    <span class="text-body-secondary">RMB 22 商品價格</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>總計</span>
                    <strong>RMB 34</strong>
                </li>
            </ul>

            <button class="w-100 btn btn-primary btn-lg" type="submit">立刻結算</button>
        </div>
    </div>
</div>